-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: localhost    Database: busy_as_a_shrimp
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_periods`
--

DROP TABLE IF EXISTS `activity_periods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_periods` (
  `period_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `start_time` datetime(3) NOT NULL,
  `end_time` datetime(3) NOT NULL,
  `reward_pool` decimal(10,2) NOT NULL DEFAULT '5000.00',
  `is_processed` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`period_id`) USING BTREE,
  KEY `activity_periods_start_time_end_time_idx` (`start_time`,`end_time`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_periods`
--

LOCK TABLES `activity_periods` WRITE;
/*!40000 ALTER TABLE `activity_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `notice_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `publisher` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '未命名公告',
  `type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'notice',
  PRIMARY KEY (`notice_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=40006 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
INSERT INTO `announcements` VALUES (40001,'系统升级完成，匹配引擎恢复服务。','admin','2026-04-01 17:42:19.000','未命名公告','notice'),(40002,'四月活动开启：完成任务可得双倍积分。','ops','2026-04-01 17:42:19.000','未命名公告','notice'),(40003,'欢迎来到星际枢纽！本系统已正式进入公测阶段。当前已上线执行控制台、分身管家及任务调度功能。建立您的神经连接，开启高效协作之旅。','System','2026-04-13 09:31:37.274','星际枢纽 1.0 版本上线公告','notice'),(40004,'我们将于近期升级龙虾撮合算法，HP 消耗逻辑将更加智能，匹配精准度提升 40%。敬请期待。','AI-Team','2026-04-13 09:31:37.276','新功能预告：龙虾自动撮合算法升级','activity'),(40005,'近期发现部分节点存在凭证泄露风险，请勿在公共场所展示您的登录验证码。系统不会以任何名义向您索要完整的身份信息。','Security','2026-04-13 09:31:37.278','安全提醒：请妥善保管通讯凭证','warning');
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bounty_tasks`
--

DROP TABLE IF EXISTS `bounty_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bounty_tasks` (
  `task_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `points` decimal(10,2) NOT NULL,
  `status` enum('PUBLISHED','FINISHED','CANCELLED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PUBLISHED',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `difficulty` enum('EASY','MEDIUM','HARD','EXPERT') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MEDIUM',
  PRIMARY KEY (`task_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=60004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bounty_tasks`
--

LOCK TABLES `bounty_tasks` WRITE;
/*!40000 ALTER TABLE `bounty_tasks` DISABLE KEYS */;
INSERT INTO `bounty_tasks` VALUES (60001,'发布招募帖','在指定平台发布招募内容并截图提交。',88.00,'PUBLISHED','2026-04-01 17:42:19.000','EASY'),(60002,'线下地推签到','完成3个点位签到并上传轨迹。',168.00,'PUBLISHED','2026-04-01 17:42:19.000','MEDIUM'),(60003,'专题深度稿','完成1篇深度稿件并通过审核。',520.00,'FINISHED','2026-04-01 17:42:19.000','HARD');
/*!40000 ALTER TABLE `bounty_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brush_order_penalties`
--

DROP TABLE IF EXISTS `brush_order_penalties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brush_order_penalties` (
  `penalty_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `invite_record_id` bigint(20) NOT NULL,
  `trigger_reasons` json NOT NULL,
  `before_captain_level` enum('normal','advanced','gold') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('applied','confirmed','rolled_back') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'applied',
  `reviewed_by` bigint(20) DEFAULT NULL,
  `review_note` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `applied_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reviewed_at` datetime(3) DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`penalty_id`) USING BTREE,
  UNIQUE KEY `brush_order_penalties_invite_record_id_key` (`invite_record_id`) USING BTREE,
  KEY `idx_penalty_user_status` (`user_id`,`status`) USING BTREE,
  KEY `idx_penalty_applied` (`applied_at`) USING BTREE,
  CONSTRAINT `brush_order_penalties_invite_record_id_fkey` FOREIGN KEY (`invite_record_id`) REFERENCES `invite_records` (`record_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `brush_order_penalties_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brush_order_penalties`
--

LOCK TABLES `brush_order_penalties` WRITE;
/*!40000 ALTER TABLE `brush_order_penalties` DISABLE KEYS */;
/*!40000 ALTER TABLE `brush_order_penalties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brush_order_penalty_commissions`
--

DROP TABLE IF EXISTS `brush_order_penalty_commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brush_order_penalty_commissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `penalty_id` bigint(20) NOT NULL,
  `commission_id` bigint(20) NOT NULL,
  `before_status` enum('pending','active','paid','invalid') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `before_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_penalty_commission` (`penalty_id`,`commission_id`) USING BTREE,
  KEY `idx_penalty_commission_id` (`commission_id`) USING BTREE,
  CONSTRAINT `brush_order_penalty_commissions_commission_id_fkey` FOREIGN KEY (`commission_id`) REFERENCES `captain_commissions` (`commission_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `brush_order_penalty_commissions_penalty_id_fkey` FOREIGN KEY (`penalty_id`) REFERENCES `brush_order_penalties` (`penalty_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brush_order_penalty_commissions`
--

LOCK TABLES `brush_order_penalty_commissions` WRITE;
/*!40000 ALTER TABLE `brush_order_penalty_commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `brush_order_penalty_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `captain_commissions`
--

DROP TABLE IF EXISTS `captain_commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `captain_commissions` (
  `commission_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `captain_id` bigint(20) NOT NULL,
  `order_id` bigint(20) NOT NULL,
  `order_amount` decimal(10,2) NOT NULL COMMENT '订单金额',
  `commission_rate` decimal(5,2) NOT NULL COMMENT '佣金比例（快照）',
  `commission_amount` decimal(10,2) NOT NULL COMMENT '佣金金额',
  `status` enum('pending','active','paid','invalid') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '状态',
  `confirm_at` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`commission_id`) USING BTREE,
  KEY `idx_commission_captain_id` (`captain_id`) USING BTREE,
  KEY `order_id` (`order_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='佣金表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `captain_commissions`
--

LOCK TABLES `captain_commissions` WRITE;
/*!40000 ALTER TABLE `captain_commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `captain_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contents`
--

DROP TABLE IF EXISTS `contents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contents` (
  `content_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `content_type` enum('card','post','video_script','poster') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '内容类型',
  `content_body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_platform` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('draft','pending','published','rejected') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft' COMMENT '状态',
  `stats` json DEFAULT NULL COMMENT '数据统计 {views, likes, inquiries}',
  `published_at` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`content_id`) USING BTREE,
  KEY `contents_user_id_fkey` (`user_id`) USING BTREE,
  CONSTRAINT `contents_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='内容表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contents`
--

LOCK TABLES `contents` WRITE;
/*!40000 ALTER TABLE `contents` DISABLE KEYS */;
/*!40000 ALTER TABLE `contents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cyber_doppelgangers`
--

DROP TABLE IF EXISTS `cyber_doppelgangers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cyber_doppelgangers` (
  `doppelganger_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `balance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `status` enum('active','inactive','frozen') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'inactive',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`doppelganger_id`) USING BTREE,
  UNIQUE KEY `cyber_doppelgangers_user_id_key` (`user_id`) USING BTREE,
  CONSTRAINT `cyber_doppelgangers_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cyber_doppelgangers`
--

LOCK TABLES `cyber_doppelgangers` WRITE;
/*!40000 ALTER TABLE `cyber_doppelgangers` DISABLE KEYS */;
INSERT INTO `cyber_doppelgangers` VALUES (1,10005,100.00,'active','2026-04-08 08:38:02.835','2026-04-08 08:38:07.838');
/*!40000 ALTER TABLE `cyber_doppelgangers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dict_data`
--

DROP TABLE IF EXISTS `dict_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dict_data` (
  `dict_data_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `dict_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dict_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dict_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dict_value` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dict_sort` int(11) NOT NULL DEFAULT '0',
  `status` enum('normal','disabled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `remark` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`dict_data_id`),
  UNIQUE KEY `uk_dict_data_type_code` (`dict_type`,`dict_code`),
  KEY `idx_dict_data_type_status_sort` (`dict_type`,`status`,`dict_sort`),
  CONSTRAINT `dict_data_dict_type_fkey` FOREIGN KEY (`dict_type`) REFERENCES `dict_types` (`dict_type`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dict_data`
--

LOCK TABLES `dict_data` WRITE;
/*!40000 ALTER TABLE `dict_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `dict_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dict_types`
--

DROP TABLE IF EXISTS `dict_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dict_types` (
  `dict_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `dict_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dict_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('normal','disabled') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `remark` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`dict_id`) USING BTREE,
  UNIQUE KEY `dict_types_dict_type_key` (`dict_type`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dict_types`
--

LOCK TABLES `dict_types` WRITE;
/*!40000 ALTER TABLE `dict_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `dict_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hp_logs`
--

DROP TABLE IF EXISTS `hp_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hp_logs` (
  `log_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `lobster_id` bigint(20) NOT NULL,
  `delta` int(11) NOT NULL,
  `reason` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ref_id` bigint(20) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`log_id`) USING BTREE,
  KEY `hp_logs_lobster_id_created_at_idx` (`lobster_id`,`created_at`) USING BTREE,
  CONSTRAINT `hp_logs_lobster_id_fkey` FOREIGN KEY (`lobster_id`) REFERENCES `lobster_statuses` (`lobster_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hp_logs`
--

LOCK TABLES `hp_logs` WRITE;
/*!40000 ALTER TABLE `hp_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `hp_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invite_records`
--

DROP TABLE IF EXISTS `invite_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invite_records` (
  `record_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `inviter_id` bigint(20) NOT NULL,
  `invitee_id` bigint(20) NOT NULL,
  `invite_code` varchar(8) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '使用的邀请码',
  `is_valid` tinyint(1) NOT NULL DEFAULT '1' COMMENT '是否有效（防刷单）',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`record_id`) USING BTREE,
  KEY `inviter_id` (`inviter_id`) USING BTREE,
  KEY `invitee_id` (`invitee_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=50004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='邀请关系表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invite_records`
--

LOCK TABLES `invite_records` WRITE;
/*!40000 ALTER TABLE `invite_records` DISABLE KEYS */;
INSERT INTO `invite_records` VALUES (50001,10002,10001,'ABCD1234',1,'2026-04-01 17:42:19.000'),(50002,10002,10003,'ABCD1234',1,'2026-04-01 17:42:19.000'),(50003,10003,10004,'WXYZ5678',0,'2026-04-01 17:42:19.000');
/*!40000 ALTER TABLE `invite_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lobster_match_records`
--

DROP TABLE IF EXISTS `lobster_match_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lobster_match_records` (
  `match_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `target_user_id` bigint(20) DEFAULT NULL,
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `match_score` decimal(5,2) DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`match_id`) USING BTREE,
  KEY `lobster_match_records_user_id_idx` (`user_id`) USING BTREE,
  CONSTRAINT `lobster_match_records_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lobster_match_records`
--

LOCK TABLES `lobster_match_records` WRITE;
/*!40000 ALTER TABLE `lobster_match_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_match_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lobster_review_tasks`
--

DROP TABLE IF EXISTS `lobster_review_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lobster_review_tasks` (
  `review_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `task_log_id` bigint(20) DEFAULT NULL,
  `context` json DEFAULT NULL,
  `status` enum('pending','approved','rejected','expired') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `expires_at` datetime(3) NOT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`review_id`) USING BTREE,
  KEY `lobster_review_tasks_user_id_status_idx` (`user_id`,`status`) USING BTREE,
  CONSTRAINT `lobster_review_tasks_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lobster_review_tasks`
--

LOCK TABLES `lobster_review_tasks` WRITE;
/*!40000 ALTER TABLE `lobster_review_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_review_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lobster_statuses`
--

DROP TABLE IF EXISTS `lobster_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lobster_statuses` (
  `lobster_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `hp` int(11) NOT NULL DEFAULT '100',
  `personality` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `personality_unlocked` tinyint(1) NOT NULL DEFAULT '0',
  `lobster_expires_at` datetime(3) DEFAULT NULL,
  `last_executed_at` datetime(3) DEFAULT NULL,
  `status` enum('sleeping','active','executing','paused') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sleeping',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`lobster_id`) USING BTREE,
  UNIQUE KEY `lobster_statuses_user_id_key` (`user_id`) USING BTREE,
  CONSTRAINT `lobster_statuses_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lobster_statuses`
--

LOCK TABLES `lobster_statuses` WRITE;
/*!40000 ALTER TABLE `lobster_statuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lobster_task_logs`
--

DROP TABLE IF EXISTS `lobster_task_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lobster_task_logs` (
  `log_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `lobster_id` bigint(20) NOT NULL,
  `task_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `personality` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `input_json` json DEFAULT NULL,
  `output_json` json DEFAULT NULL,
  `deerflow_run_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `started_at` datetime(3) NOT NULL,
  `completed_at` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`log_id`) USING BTREE,
  KEY `lobster_task_logs_lobster_id_started_at_idx` (`lobster_id`,`started_at`) USING BTREE,
  CONSTRAINT `lobster_task_logs_lobster_id_fkey` FOREIGN KEY (`lobster_id`) REFERENCES `lobster_statuses` (`lobster_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lobster_task_logs`
--

LOCK TABLES `lobster_task_logs` WRITE;
/*!40000 ALTER TABLE `lobster_task_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_task_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matches` (
  `match_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `need_id` bigint(20) NOT NULL,
  `resource_id` bigint(20) NOT NULL,
  `match_score` decimal(5,2) NOT NULL,
  `status` enum('pushed','viewed','confirmed','done','invalid') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '匹配状态',
  `push_time` datetime(3) DEFAULT NULL,
  `feedback` tinyint(4) DEFAULT NULL COMMENT '1:成交, 0:无效, NULL:未反馈',
  PRIMARY KEY (`match_id`) USING BTREE,
  KEY `need_id` (`need_id`) USING BTREE,
  KEY `matches_resource_id_fkey` (`resource_id`) USING BTREE,
  CONSTRAINT `matches_resource_id_fkey` FOREIGN KEY (`resource_id`) REFERENCES `resources` (`resource_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='匹配记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
INSERT INTO `matches` VALUES (30001,900001,20001,95.50,'confirmed','2026-04-01 17:42:19.000',1),(30002,900002,20002,81.00,'pushed','2026-04-01 17:42:19.000',NULL),(30003,900003,20003,72.00,'viewed','2026-04-01 17:42:19.000',0);
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opportunities`
--

DROP TABLE IF EXISTS `opportunities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opportunities` (
  `opportunity_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `source_type` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `price_range` json DEFAULT NULL,
  `commission` decimal(10,2) DEFAULT NULL,
  `source_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('pending_review','approved','rejected','expired','claimed') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending_review',
  `task_log_id` bigint(20) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `reviewed_at` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`opportunity_id`) USING BTREE,
  KEY `opportunities_user_id_status_idx` (`user_id`,`status`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opportunities`
--

LOCK TABLES `opportunities` WRITE;
/*!40000 ALTER TABLE `opportunities` DISABLE KEYS */;
/*!40000 ALTER TABLE `opportunities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_transactions`
--

DROP TABLE IF EXISTS `point_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_transactions` (
  `transaction_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `doppelganger_id` bigint(20) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` enum('INVITE_REWARD','TASK_REWARD','TOKEN_CONSUME','SYSTEM_ADJUST','INITIAL_BONUS','DAILY_SIGN_IN','CONTRIBUTION_REWARD') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `metadata` json DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`transaction_id`) USING BTREE,
  KEY `point_transactions_doppelganger_id_idx` (`doppelganger_id`) USING BTREE,
  CONSTRAINT `point_transactions_doppelganger_id_fkey` FOREIGN KEY (`doppelganger_id`) REFERENCES `cyber_doppelgangers` (`doppelganger_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_transactions`
--

LOCK TABLES `point_transactions` WRITE;
/*!40000 ALTER TABLE `point_transactions` DISABLE KEYS */;
INSERT INTO `point_transactions` VALUES (1,1,100.00,'INITIAL_BONUS','{\"reason\": \"Welcome Bonus\"}','2026-04-08 08:38:07.833');
/*!40000 ALTER TABLE `point_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resources`
--

DROP TABLE IF EXISTS `resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resources` (
  `resource_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `resource_type` enum('skill','location','account','time') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '资源类型',
  `tags` json NOT NULL,
  `area_code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '可服务区域编码',
  `price_range` json DEFAULT NULL COMMENT '价格区间 {min, max}',
  `status` enum('pending','active','inactive','rejected') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending' COMMENT '状态',
  `verified_at` datetime(3) DEFAULT NULL,
  `last_update` datetime(3) DEFAULT NULL,
  `resource_types` json DEFAULT NULL,
  PRIMARY KEY (`resource_id`) USING BTREE,
  KEY `resources_user_id_fkey` (`user_id`) USING BTREE,
  CONSTRAINT `resources_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20005 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='资源表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resources`
--

LOCK TABLES `resources` WRITE;
/*!40000 ALTER TABLE `resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `risk_control_events`
--

DROP TABLE IF EXISTS `risk_control_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `risk_control_events` (
  `event_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) DEFAULT NULL,
  `event_type` enum('same_ip_limit','abnormal_device','invite_chain_detection','brush_order_disposal','violation_penalty','account_unban') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` enum('pass','review','block','disposed') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `detail` json DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`event_id`) USING BTREE,
  KEY `idx_risk_user` (`user_id`) USING BTREE,
  KEY `idx_risk_type_created` (`event_type`,`created_at`) USING BTREE,
  CONSTRAINT `risk_control_events_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risk_control_events`
--

LOCK TABLES `risk_control_events` WRITE;
/*!40000 ALTER TABLE `risk_control_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `risk_control_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sign_in_records`
--

DROP TABLE IF EXISTS `sign_in_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sign_in_records` (
  `record_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `last_sign_in_date` datetime(3) NOT NULL,
  `streak_days` int(11) NOT NULL DEFAULT '1',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`record_id`) USING BTREE,
  UNIQUE KEY `sign_in_records_user_id_last_sign_in_date_key` (`user_id`,`last_sign_in_date`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sign_in_records`
--

LOCK TABLES `sign_in_records` WRITE;
/*!40000 ALTER TABLE `sign_in_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `sign_in_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_submissions`
--

DROP TABLE IF EXISTS `task_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_submissions` (
  `submission_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `task_id` bigint(20) NOT NULL,
  `proof` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('PENDING','APPROVED','REJECTED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`submission_id`) USING BTREE,
  KEY `task_submissions_task_id_idx` (`task_id`) USING BTREE,
  KEY `task_submissions_user_id_idx` (`user_id`) USING BTREE,
  CONSTRAINT `task_submissions_task_id_fkey` FOREIGN KEY (`task_id`) REFERENCES `bounty_tasks` (`task_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=70004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_submissions`
--

LOCK TABLES `task_submissions` WRITE;
/*!40000 ALTER TABLE `task_submissions` DISABLE KEYS */;
INSERT INTO `task_submissions` VALUES (70001,10001,60001,'https://example.com/proof/70001','APPROVED','2026-04-01 17:42:19.000'),(70002,10002,60002,'https://example.com/proof/70002','PENDING','2026-04-01 17:42:19.000'),(70003,10003,60003,'https://example.com/proof/70003','REJECTED','2026-04-01 17:42:19.000');
/*!40000 ALTER TABLE `task_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_devices`
--

DROP TABLE IF EXISTS `user_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_devices` (
  `device_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `register_ip` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_fingerprint` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`device_id`) USING BTREE,
  KEY `idx_user_devices_user` (`user_id`) USING BTREE,
  KEY `idx_user_devices_ip` (`register_ip`) USING BTREE,
  KEY `idx_user_devices_fingerprint` (`device_fingerprint`) USING BTREE,
  CONSTRAINT `user_devices_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_devices`
--

LOCK TABLES `user_devices` WRITE;
/*!40000 ALTER TABLE `user_devices` DISABLE KEYS */;
INSERT INTO `user_devices` VALUES (1,10006,'127.0.0.1','ua:Mozilla/5.0 (Windows NT; Windows NT 10.0; zh-CN) WindowsPowerShell/5.1.22621.4249','2026-04-13 10:24:16.000');
/*!40000 ALTER TABLE `user_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_purchases`
--

DROP TABLE IF EXISTS `user_purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_purchases` (
  `purchase_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `item_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'completed',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`purchase_id`) USING BTREE,
  KEY `user_purchases_user_id_idx` (`user_id`) USING BTREE,
  CONSTRAINT `user_purchases_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_purchases`
--

LOCK TABLES `user_purchases` WRITE;
/*!40000 ALTER TABLE `user_purchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `phone_hash` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '手机号加密存储',
  `role` enum('service','resource','both') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '角色: 服务方/资源方/双重',
  `city` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '城市',
  `district` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '区域',
  `member_level` enum('free','monthly','yearly','lifetime') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'free' COMMENT '会员等级',
  `member_expire` datetime(3) DEFAULT NULL,
  `status` enum('active','banned','frozen') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active' COMMENT '状态',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `captain_level` enum('normal','advanced','gold') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `masked_phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `invite_code` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_ip` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `task_accept_count` int(11) NOT NULL DEFAULT '0',
  `task_view_count` int(11) NOT NULL DEFAULT '0',
  `avatar` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `speak_muted_until` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`user_id`) USING BTREE,
  UNIQUE KEY `users_invite_code_key` (`invite_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `violation_events`
--

DROP TABLE IF EXISTS `violation_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `violation_events` (
  `event_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `scene` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `decision` enum('warning','mute','ban','unban') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`event_id`) USING BTREE,
  KEY `idx_violation_user_created` (`user_id`,`created_at`) USING BTREE,
  CONSTRAINT `violation_events_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `violation_events`
--

LOCK TABLES `violation_events` WRITE;
/*!40000 ALTER TABLE `violation_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `violation_events` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 10:30:00
