-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: localhost    Database: busy_as_a_shrimp
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_periods`
--

LOCK TABLES `activity_periods` WRITE;
/*!40000 ALTER TABLE `activity_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bounty_tasks`
--

LOCK TABLES `bounty_tasks` WRITE;
/*!40000 ALTER TABLE `bounty_tasks` DISABLE KEYS */;
INSERT INTO `bounty_tasks` (`task_id`, `title`, `content`, `points`, `status`, `created_at`, `difficulty`) VALUES (60001,'发布招募帖','在指定平台发布招募内容并截图提交。',88.00,'PUBLISHED','2026-04-01 17:42:19.000','EASY'),(60002,'线下地推签到','完成3个点位签到并上传轨迹。',168.00,'PUBLISHED','2026-04-01 17:42:19.000','MEDIUM'),(60003,'专题深度稿','完成1篇深度稿件并通过审核。',520.00,'FINISHED','2026-04-01 17:42:19.000','HARD');
/*!40000 ALTER TABLE `bounty_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `brush_order_penalties`
--

LOCK TABLES `brush_order_penalties` WRITE;
/*!40000 ALTER TABLE `brush_order_penalties` DISABLE KEYS */;
/*!40000 ALTER TABLE `brush_order_penalties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `brush_order_penalty_commissions`
--

LOCK TABLES `brush_order_penalty_commissions` WRITE;
/*!40000 ALTER TABLE `brush_order_penalty_commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `brush_order_penalty_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `captain_commissions`
--

LOCK TABLES `captain_commissions` WRITE;
/*!40000 ALTER TABLE `captain_commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `captain_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `contents`
--

LOCK TABLES `contents` WRITE;
/*!40000 ALTER TABLE `contents` DISABLE KEYS */;
/*!40000 ALTER TABLE `contents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cyber_doppelgangers`
--

LOCK TABLES `cyber_doppelgangers` WRITE;
/*!40000 ALTER TABLE `cyber_doppelgangers` DISABLE KEYS */;
INSERT INTO `cyber_doppelgangers` (`doppelganger_id`, `user_id`, `balance`, `status`, `created_at`, `updated_at`) VALUES (1,10005,100.00,'active','2026-04-08 08:38:02.835','2026-04-08 08:38:07.838');
/*!40000 ALTER TABLE `cyber_doppelgangers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dict_data`
--

LOCK TABLES `dict_data` WRITE;
/*!40000 ALTER TABLE `dict_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `dict_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dict_types`
--

LOCK TABLES `dict_types` WRITE;
/*!40000 ALTER TABLE `dict_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `dict_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hp_logs`
--

LOCK TABLES `hp_logs` WRITE;
/*!40000 ALTER TABLE `hp_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `hp_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invite_records`
--

LOCK TABLES `invite_records` WRITE;
/*!40000 ALTER TABLE `invite_records` DISABLE KEYS */;
INSERT INTO `invite_records` (`record_id`, `inviter_id`, `invitee_id`, `invite_code`, `is_valid`, `created_at`) VALUES (50001,10002,10001,'ABCD1234',1,'2026-04-01 17:42:19.000'),(50002,10002,10003,'ABCD1234',1,'2026-04-01 17:42:19.000'),(50003,10003,10004,'WXYZ5678',0,'2026-04-01 17:42:19.000');
/*!40000 ALTER TABLE `invite_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lobster_match_records`
--

LOCK TABLES `lobster_match_records` WRITE;
/*!40000 ALTER TABLE `lobster_match_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_match_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lobster_review_tasks`
--

LOCK TABLES `lobster_review_tasks` WRITE;
/*!40000 ALTER TABLE `lobster_review_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_review_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lobster_statuses`
--

LOCK TABLES `lobster_statuses` WRITE;
/*!40000 ALTER TABLE `lobster_statuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lobster_task_logs`
--

LOCK TABLES `lobster_task_logs` WRITE;
/*!40000 ALTER TABLE `lobster_task_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lobster_task_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
INSERT INTO `matches` (`match_id`, `need_id`, `resource_id`, `match_score`, `status`, `push_time`, `feedback`) VALUES (30001,900001,20001,95.50,'confirmed','2026-04-01 17:42:19.000',1),(30002,900002,20002,81.00,'pushed','2026-04-01 17:42:19.000',NULL),(30003,900003,20003,72.00,'viewed','2026-04-01 17:42:19.000',0);
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `opportunities`
--

LOCK TABLES `opportunities` WRITE;
/*!40000 ALTER TABLE `opportunities` DISABLE KEYS */;
/*!40000 ALTER TABLE `opportunities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `point_transactions`
--

LOCK TABLES `point_transactions` WRITE;
/*!40000 ALTER TABLE `point_transactions` DISABLE KEYS */;
INSERT INTO `point_transactions` (`transaction_id`, `doppelganger_id`, `amount`, `type`, `metadata`, `created_at`) VALUES (1,1,100.00,'INITIAL_BONUS','{\"reason\": \"Welcome Bonus\"}','2026-04-08 08:38:07.833');
/*!40000 ALTER TABLE `point_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `resources`
--

LOCK TABLES `resources` WRITE;
/*!40000 ALTER TABLE `resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `risk_control_events`
--

LOCK TABLES `risk_control_events` WRITE;
/*!40000 ALTER TABLE `risk_control_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `risk_control_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sign_in_records`
--

LOCK TABLES `sign_in_records` WRITE;
/*!40000 ALTER TABLE `sign_in_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `sign_in_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `task_submissions`
--

LOCK TABLES `task_submissions` WRITE;
/*!40000 ALTER TABLE `task_submissions` DISABLE KEYS */;
INSERT INTO `task_submissions` (`submission_id`, `user_id`, `task_id`, `proof`, `status`, `created_at`) VALUES (70001,10001,60001,'https://example.com/proof/70001','APPROVED','2026-04-01 17:42:19.000'),(70002,10002,60002,'https://example.com/proof/70002','PENDING','2026-04-01 17:42:19.000'),(70003,10003,60003,'https://example.com/proof/70003','REJECTED','2026-04-01 17:42:19.000');
/*!40000 ALTER TABLE `task_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_devices`
--

LOCK TABLES `user_devices` WRITE;
/*!40000 ALTER TABLE `user_devices` DISABLE KEYS */;
INSERT INTO `user_devices` (`device_id`, `user_id`, `register_ip`, `device_fingerprint`, `created_at`) VALUES (1,10006,'127.0.0.1','ua:Mozilla/5.0 (Windows NT; Windows NT 10.0; zh-CN) WindowsPowerShell/5.1.22621.4249','2026-04-13 10:24:16.000');
/*!40000 ALTER TABLE `user_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_purchases`
--

LOCK TABLES `user_purchases` WRITE;
/*!40000 ALTER TABLE `user_purchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `violation_events`
--

LOCK TABLES `violation_events` WRITE;
/*!40000 ALTER TABLE `violation_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `violation_events` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 10:32:11
